<%- include('../partials/boilerplate', { title: 'Let’s Get To Know You' }) %>

<div class="onboarding-container">
    <div class="intro-section">
        <h1>Let’s Get To Know You</h1>
        <p>Let AI guide your career—just tell us a bit about you.</p>
        <div class="progress-wrapper">
            <div class="progress-text">
                <span class="progress-step">Step 1 of 4</span>
                <span class="progress-percent">25% Complete</span>
            </div>
            <div class="progress-bar">
                <div class="progress-fill" style="width: 25%;"></div>
            </div>
        </div>
    </div>
    <main class="form-container">
        <div class="student-info">
            <h2><i class="fa-regular fa-user"></i>&nbsp;Student Info</h2>
            <form id="studentForm" action="/interests" method="/get"">
                <input type="text" placeholder="Enter your full name" required>
                <input type="email" placeholder="Type your email" required>
                <input type="number" placeholder="Enter your age" required>
                <select required>
                    <option value="" disabled selected hidden>Select your qualification</option>
                    <option value="highschool">High School</option>
                    <option value="bachelors">Bachelors</option>
                    <option value="masters">Masters</option>
                </select>
                <textarea placeholder="Describe any work experience, internships or relevant projects (optional)"></textarea>
                <div class="button-wrapper">
                     <button class="next-btn" type="submit">Next →</button>
                </div>
            </form>
        </div>
    </main>
</div>
