<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextStep AI - Career Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

    <nav>
        <div class="logo">
            <a href="/"><img src="../img_2_logo.PNG" alt="Logo"></a>
        </div>
        <div class="links">
            <a href="/profile/user">Profile</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/skills">Skills</a>
            <a href="/internships">Internships</a>
            <a href="/career">Career</a>
        </div>
        <% if(!currentUser) { %>
    <a href="/login" class="nav-login-btn">Login</a>
<% } else { %>
    <a href="/logout" class="nav-login-btn">Logout</a>
<% } %>
    </nav>
    <%- include('./flash') %>
    <script src="/js/dashboard.js" defer></script>
</body>
</html>
