<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextSTP AI – Internships</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&family=Instrument+Sans:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/internship.css">
    <body>

    <nav>
        <div class="logo">
            <a href="/"><img src="../img_2_logo.PNG" alt="Logo"></a>
        </div>
        <div class="links">
            <a href="/profile/user">Profile</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/skills">Skills</a>
            <a href="/internships">Internships</a>
            <a href="/career">Career</a>
        </div>
         <button class="signout">Sign Out</button>
    </nav>
    <script src="/js/internship.js" defer></script>
</body>
</html>
