<% layout('partials/login_template') %>
<div class="container">
        <div class="welcome-pane">
            <div class="logo">
                <img src="../img_2_logo.PNG" alt="NextStep AI Logo">
            </div>
            <h1>Welcome Back to Your Future</h1>
            <p>Your AI career mentor is ready to help you take the next step. Please log in to continue your journey.</p>
            <img src="../img_1_astro.PNG" alt="AI Mentor Image" class="astro-img">
        </div>
        <div class="form-pane">
            <h2>Login</h2>

            <% if(error && error.length) { %>
                <div class="alert-error" role="alert">
                    <%= error %>
                </div>
            <% } %>

            <form action="/login" method="POST">
                 <div class="input-group">
                    <label for="login-email">Email</label>
                    <input type="email" id="login-email" name="email" placeholder="you@example.com" required>
                </div>
                <div class="input-group">
                    <label for="login-password">Password</label>
                    <input type="password" id="login-password" name="password" placeholder="••••••••" required>
                </div>
                <button type="submit" class="btn">Login</button>
             </form>
            <p class="switch-form">Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>